.Snack_bar
{
    width:300px;
    height: 80px;
    border:2px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:20px;
    margin:0;
}
.Snack_bar .text{
    font-size: larger;
    font-weight: 600;
    text-align: center;
    color:rgb(245, 239, 239);
    position: relative;
    top:-10px;
    left:-10px;
}
.Snack_bar .text i{
    font-weight: 700;
    margin-right:30px;
}
.Snack_bar .close
{
    position: absolute;
    right:8px;
    top:5px;
}
.Snack_bar .close i{
    font-size: large;
    color:white; 
}
.Snack_bar .progress{
    position: relative;
    top:10px;
    height:8px;
    background: white;
    transition: all 4s;
    border-radius: 10%;
    width:250px;
    transform-origin: left;
    transition-timing-function: linear;
    transition-delay: 1s;
}