.home{
    width:calc(100vw - 200px);
    display: grid;
    justify-content: center;
    align-items: center;
}
.home .body
{
    height: auto;
    width:100%;  
    display: flex;
    align-items: center;
    row-gap: 20px;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 50px;
    padding-top: 20px;
}
.home .story
{
    width: inherit;
    height: 100px;
    border-bottom: 2px solid rgb(172, 161, 161);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    padding: 30px;
    overflow: hidden;
    overflow-x:scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.home .story::-webkit-scrollbar
{
    display: none;
}
.home .story img{
    width:50px;
    height: 50px;
    border-radius:50%;
    padding:4px;
    border:2px solid black;
}
.home .story div{
    width:80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home .story div p {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: wrap;
    width:80px;
    white-space: nowrap;
    text-align: center;
}
.home .body .post{
    width:70%;
    border:2px solid rgb(154, 150, 150);
    display: grid;
    align-items: center;
    box-shadow: 0px 0px 5px 5px rgb(201, 205, 212);
}
.home .body .post .head{
    border-bottom: 2px solid rgb(154, 150, 150);
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}
.home .body .post .head .profile
{
    display:flex;
    align-items: center;
    padding: 0 20px;
    flex-direction: row;
    column-gap: 5px;
}
.home .body .post .head .profile img
{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
}
.home .body .post .head .profile p {
    text-align: center;
    padding-left: 10px;
}
.home .body .post .head button{
position: absolute;
right: 10px;
}
.home .body .post .media
{
    width:calc(100%);
    height:400px;
}
.home .body .post .media_btn{
    border-bottom: 2px solid rgb(154, 150, 150);
    border-top: 2px solid rgb(154, 150, 150);
    height:30px;
    width: calc(100%);
    display: flex;
    flex-direction: row;
    position: relative;
    padding-left: 10px;
}
.home .body .post .media_btn div{
    position: absolute;
    right:10px;
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    bottom: 3px;
    align-items: center;
    justify-content: center;
}
.home .body .post .media_btn div button
{
    border: none;
    background: none;
}
.home .body .post .media_btn div button i
{
    font-size: medium;
}
.home .body .post .foot{
    width: calc(100%);
    height: 60px;
}

@media only screen and (max-width:600px)
{
    .home{
    width:100vw;
    }
    .post{
        min-width: 90vw;
    }
}
@media only screen and (max-width:376px)
{
    .post
    {
        min-width:100vw;
    }
}
/*Create Post CSS*/
.create{
    width:calc(96vw);
    height: auto;
    display: grid;
    grid-template-areas:'head head head''caption caption details''caption caption details''post post links''post post btn'; 
    grid-gap: 10px;
    overflow-y: hidden;
    padding-bottom:20px;
}
.create > div {
    border:2px solid black;
    color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 200px;
    width:45em;
}
.create h1{
grid-area:head;
}
.create .caption
{
    grid-area: caption;
}
.create .caption textarea{
    resize:none;
    width:100%
}
.create .post
{
    height: 480px;
    grid-area: post;
}
.create .post > div{
    border: 2px solid black;
    width:40em;
}
.create .post > div:first-child{
    height: 350px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.create .post > div:first-child .display img,video{
    object-fit: contain;
    aspect-ratio: 3/4;
    background: black;
    }
.create .post > div:first-child .display::-webkit-scrollbar{
    display: none;
}
.create .post > div:first-child .display{
    width:300px;
    height: 300px;
    display:grid;
    justify-content: center;
    align-items: center;
    overflow: auto;
    cursor: zoom-in;
}
.create .post > div:nth-child(2)
{
    height: 100px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-left: 10px;
    overflow:hidden;
    overflow-x:scroll;
    padding-right: 10px;
}
.create .post > div:nth-child(2)::-webkit-scrollbar{
    display: none;
}
.create .post > div:nth-child(2) .media-control i:nth-child(2) {
    width:10px;
    height: 10px;
    position: absolute;
    right:-6px;
    top:-15px;
    z-index: 1;
}
.create .post > div:nth-child(2) .media-control img,video{
    object-fit: contain;
}
.create .post > div:nth-child(2) .media-control
{
    border: 2px solid black;
}
.create .post > div:nth-child(2) .media-control:hover img{
    filter: blur(5px);
}
.create .post > div:nth-child(2) .media-control:hover video{
    filter: blur(5px);
}
.create .post > div:nth-child(2) .media-control:hover i:first-child
{
    display: block;
}
.create .post > div:nth-child(2) .media-control i:first-child{
position: absolute;
top:50%;
left: 50%;
transform: translate(-10px,-10px);
z-index: 1;
display:none;
}
.create .post > div:nth-child(2) .media-control i:nth-child(2):hover {
cursor: pointer;
color:cyan;
}
.create .post >div:nth-child(2) .media-control{
    position: relative;
}
.create .post > div:nth-child(2) label{
    border: 2px solid black;
    width:50px;
    min-width: 50px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.create .post > div:nth-child(2) label i{
    font-size: x-large;

}
.create .post div label{

}






.create .details{
    background: green;
    grid-area: details;
}
.create .links{
    background: yellow;
    grid-area: links;
}
.create .btn{
    background: pink;
    grid-area: btn;
}