:root {
    --SpaceCadet: #142D55;
    --BlurBetty: #4B92FF;
    --Diamond: #B7E3FF;
    --Sapphire: #0856CF;
}

.home {
    width: calc(100vw - 200px);
    display: grid;
    justify-content: center;
    align-items: center;
}

.home .body {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    row-gap: 20px;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 50px;
    padding-top: 20px;
}

.home .story {
    width: inherit;
    border-bottom: 2px solid rgb(172, 161, 161);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    padding: 30px;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.home .story::-webkit-scrollbar {
    display: none;
}

.home .story img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 4px;
    border: 2px solid black;
}

.home .story div {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .story div p {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: wrap;
    width: 80px;
    white-space: nowrap;
    text-align: center;
}

.home .body .post {
    width: 70%;
    border: 2px solid rgb(154, 150, 150);
    display: grid;
    align-items: center;
    box-shadow: 0px 0px 5px 5px rgb(201, 205, 212);
    position: relative;
}

.home .body .post .head {
    border-bottom: 2px solid rgb(154, 150, 150);
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;

    button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;

        i {
            font-size: 25px;
            transition: all 1s;
        }
    }

    .post-options {
        position: absolute;
        right: 0;
        top: 60px;
        z-index: 1;
        background: white;
        display: grid;
        place-items: center;
        width: max-content;
        border: 2px solid gray;
        transition: all .5s;
        transform-origin: 100% 100%;

        p {
            margin: 0;
            padding: 10px;
            width: 100%;
            text-align: center;

            &:hover {
                background: #63a0fc;
            }
        }

    }
}

.home .body .post .head .profile {
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex-direction: row;
    column-gap: 5px;
}

.home .body .post .head .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
}

.home .body .post .head .profile p {
    text-align: center;
    padding-left: 10px;
}

.home .body .post .head button {
    position: absolute;
    right: 10px;
}

.home .body .post .media {
    width: 50vw;
    margin: 0 auto;
    height: 500px;
    display: grid;
    place-items: center;
    position: relative;
}

.home .body .post .media>div:first-child {
    width: 50vw;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin: 0;

}

.home .body .post .media>div:first-child::-webkit-scrollbar {
    display: none;
}


.home .body .post .media>div:first-child:-webkit-scrollbar {
    display: none;
}

.home .body .post .media>div:first-child div {
    width: 100%;
    scroll-snap-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    background: rgb(47, 47, 47);

    img,
    video {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .btn-volume {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.43);
        background: rgba(255, 255, 255, 0.43);
    }
}

.home .body .post .media>div:last-child {
    width: 50vw;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    position: absolute;
    bottom: 10px;
}

.home .body .post .media>div:last-child p {
    width: 10px;
    height: 10px;
    border: 2px solid rgba(255, 255, 255, 0.43);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.43);
}

.home .body .post .media_btn {
    border-bottom: 2px solid rgb(154, 150, 150);
    border-top: 2px solid rgb(154, 150, 150);
    height: max-content;
    width: calc(100%);
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 'start end';
    padding: 10px;
}

.home .body .post .media_btn div {
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin: 0;
}

.home .body .post .media_btn div button {
    border: none;
    background: none;
}

.home .body .post .media_btn div button i {
    font-size: large;
}

.home .body .post .foot {
    width: calc(100%);
    min-height: 60px;
    height: auto;

    .caption {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 20px;
        text-overflow: ellipsis;
        margin-top: 5px;
    }

    .tags {
        width: 100%;
        height: max-content;
        display: flex;
        margin: 20px 0px;
        padding: 0 20px;
        column-gap: 10px;

        p {
            text-overflow: ellipsis;
            width: 50px;
            height: max-content;
            white-space: nowrap;
            overflow: hidden;
            transition: all .5s;
            cursor: default;

            &:hover {
                width: max-content;
                margin: 0px 5px;
            }
        }
    }
}

.home .body .post .comment-section {
    border: 2px solid gray;
    width: 100%;
    max-height: 530px;
    padding: 10px;
    height: auto;
    min-height: max-content;
    position: absolute;
    z-index: 1;
    background: white;
    bottom: 132px;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    opacity: 0;
    transition: all .5s ease-in;

    &::-webkit-scrollbar-button {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        width: 5px;
        background: red;
    }

    &::-webkit-scrollbar {
        width: 5px;
        appearance: none;
    }

    &::-webkit-scrollbar-track {
        width: 5px;
    }

    .comments-scroll {
        overflow: hidden;
        overflow-y: scroll;
        height: 400px;
    }

    .reply-show-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin-bottom: 10px;
        margin-top: -5px;
        padding: 0;

        button {
            border: none;
            background: none;
            margin: 0;
            padding: 0;

            &:hover {
                border-bottom: 3px solid rgb(70, 70, 246);
            }
        }
    }

    .comment-input-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 5px;

        input {
            width: 85%;
            height: 40px;
            outline: rgb(140, 140, 243);
            padding: 5px;
        }

        button {
            background: #63a0fc;
            border-radius: 20px;
            width: 100px;
            height: 40px;
            margin-left: 5px;
            border: 2px solid blue;

            &:hover {
                background: #142D55;
                color: white;
                transition: all .5s;
            }
        }
    }

    .comment {
        display: flex;
        width: 70%;
        position: relative;
        min-height: 60px;
        height: auto;
        align-items: end;
        position: relative;
        border: 2px solid rgb(171, 169, 169);
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 31.5px;
        border-radius: 10px;
        margin-bottom: 10px;

        .username {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            position: absolute;
            top: 5px;
            width: 80px;
            font-weight: 600;
            font-size: 15px;
            padding: 0px 5px;
        }

        .text {
            color: gray;
            margin: 5px;
        }

        .btn-grp {
            width: max-content;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            right: 2px;
            bottom: 4px;

            button {
                background: none;
                width: max-content;
                margin: 0 auto;
                padding: 0;
                cursor: pointer;
                bottom: 5px;
                padding: 3px;
                border: none;
                outline: none;
                transition: all .5s;

                &.btn-like {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    column-gap: 2px;
                }

                &.btn-delete {

                    &:hover {
                        i {
                            color: limegreen;
                            border: 2px solid limegreen;
                            border-radius: 50%;
                            padding: 5px;
                        }
                    }
                }

                &.btn-reply {

                    &:hover {
                        border-bottom: 4px solid cyan;
                    }
                }
            }
        }
    }

    .reply-input {
        input {
            width: 60%;
            height: 40px;
            outline: rgb(140, 140, 243);
            padding: 5px;
        }

        button {
            background: #63a0fc;
            border-radius: 20px;
            min-width: 100px;
            min-height: 40px;
            width: max-content;
            height: max-content;
            margin-left: 5px;
            border: 2px solid blue;

            &:hover {
                background: #142D55;
                color: white;
                transition: all .5s;
            }
        }
    }
}

.home .body .post .share-section {
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {}
}

.single-post {
    width: calc(100vw - 200px);
    display: grid;
    justify-content: center;
    align-items: center;

    .body {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        row-gap: 20px;
        flex-direction: column;
        overflow: auto;
        padding-bottom: 50px;
        padding-top: 20px;


        .post {
            width: 100%;
            border: 2px solid rgb(154, 150, 150);
            display: grid;
            align-items: center;
            box-shadow: 0px 0px 5px 5px rgb(201, 205, 212);
            position: relative;

            .head {
                border-bottom: 2px solid rgb(154, 150, 150);
                height: 60px;
                display: flex;
                align-items: center;
                position: relative;

                .post-options {
                    position: absolute;
                    right: 0;
                    top: 60px;
                    z-index: 1;
                    background: white;
                    display: grid;
                    place-items: center;
                    width: max-content;
                    border: 2px solid gray;
                    transition: all .5s;
                    transform-origin: 100% 100%;

                    p {
                        margin: 0;
                        padding: 10px;
                        width: 100%;
                        text-align: center;

                        &:hover {
                            background: #63a0fc;
                        }
                    }
                }

                .profile {
                    display: flex;
                    align-items: center;
                    padding: 0 20px;
                    flex-direction: row;
                    column-gap: 5px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: 2px solid black;
                    }

                    p {
                        text-align: center;
                        padding-left: 10px;
                    }
                }


                button {
                    position: absolute;
                    right: 10px;
                }
            }

            .media {
                width: 50vw;
                margin: 0 auto;
                height: 500px;
                display: grid;
                place-items: center;
                position: relative;

                &>div:first-child {
                    width: 50vw;
                    height: 100%;
                    border: 2px solid black;
                    display: flex;
                    flex-wrap: nowrap;
                    overflow: hidden;
                    overflow-x: scroll;
                    scroll-snap-type: x mandatory;
                    margin: 0;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    div {
                        width: 100%;
                        flex-shrink: 0;
                        aspect-ratio: 1/1;
                        scroll-snap-align: center;
                        display: grid;
                        position: relative;
                        place-items: center;
                        background: rgb(47, 47, 47);

                        img,
                        video {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }

                        .btn-volume {
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            border: 2px solid rgba(255, 255, 255, 0.43);
                            background: rgba(255, 255, 255, 0.43);
                        }
                    }
                }

                &>div:last-child {
                    width: 50vw;
                    display: flex;
                    justify-content: center;
                    column-gap: 20px;
                    position: absolute;
                    bottom: 10px;

                    p {
                        width: 10px;
                        height: 10px;
                        border: 2px solid rgba(255, 255, 255, 0.43);
                        border-radius: 50%;
                        background: rgba(255, 255, 255, 0.43);
                    }

                }
            }

            .media_btn {
                border-bottom: 2px solid rgb(154, 150, 150);
                border-top: 2px solid rgb(154, 150, 150);
                height: max-content;
                width: calc(100%);
                display: grid;
                grid-auto-flow: column;
                grid-template-areas: 'start end';
                padding: 10px;

                div {
                    column-gap: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: end;
                    margin: 0;

                    button {
                        border: none;
                        background: none;

                        i {
                            font-size: large;
                        }
                    }
                }
            }

            .foot {
                width: calc(100%);
                min-height: 60px;
                height: auto;

                .caption {
                    width: 100%;
                    height: max-content;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding: 0 20px;
                    text-overflow: ellipsis;
                    margin-top: 5px;
                }

                .tags {
                    width: 100%;
                    height: max-content;
                    display: flex;
                    margin: 20px 0px;
                    padding: 0 20px;
                    column-gap: 10px;

                    p {
                        text-overflow: ellipsis;
                        width: 50px;
                        height: max-content;
                        white-space: nowrap;
                        overflow: hidden;
                        transition: all .5s;
                        cursor: default;

                        &:hover {
                            width: max-content;
                            margin: 0px 5px;
                        }
                    }
                }
            }

            .comment-section {
                border: 2px solid gray;
                width: 100%;
                max-height: 530px;
                padding: 10px;
                height: auto;
                min-height: max-content;
                position: absolute;
                z-index: 1;
                background: white;
                bottom: 132px;
                transform: scaleY(0);
                transform-origin: 100% 100%;
                opacity: 0;
                transition: all .5s ease-in;

                &::-webkit-scrollbar-button {
                    width: 5px;
                }

                &::-webkit-scrollbar-thumb {
                    width: 5px;
                    background: red;
                }

                &::-webkit-scrollbar {
                    width: 5px;
                    appearance: none;
                }

                &::-webkit-scrollbar-track {
                    width: 5px;
                }

                .comments-scroll {
                    overflow: hidden;
                    overflow-y: scroll;
                    height: 400px;
                }

                .reply-show-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 70%;
                    margin-bottom: 10px;
                    margin-top: -5px;
                    padding: 0;

                    button {
                        border: none;
                        background: none;
                        margin: 0;
                        padding: 0;

                        &:hover {
                            border-bottom: 3px solid rgb(70, 70, 246);
                        }
                    }
                }

                .comment-input-section {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-top: 5px;

                    input {
                        width: 85%;
                        height: 40px;
                        outline: rgb(140, 140, 243);
                        padding: 5px;
                    }

                    button {
                        background: #63a0fc;
                        border-radius: 20px;
                        width: 100px;
                        height: 40px;
                        margin-left: 5px;
                        border: 2px solid blue;

                        &:hover {
                            background: #142D55;
                            color: white;
                            transition: all .5s;
                        }
                    }
                }

                .comment {
                    display: flex;
                    width: 70%;
                    position: relative;
                    min-height: 60px;
                    height: auto;
                    align-items: end;
                    position: relative;
                    border: 2px solid rgb(171, 169, 169);
                    padding-top: 20px;
                    padding-left: 5px;
                    padding-right: 31.5px;
                    border-radius: 10px;
                    margin-bottom: 10px;

                    .username {
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        position: absolute;
                        top: 5px;
                        width: 80px;
                        font-weight: 600;
                        font-size: 15px;
                        padding: 0px 5px;
                    }

                    .text {
                        color: gray;
                        margin: 5px;
                    }

                    .btn-grp {
                        width: max-content;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        right: 2px;
                        bottom: 4px;

                        button {
                            background: none;
                            width: max-content;
                            margin: 0 auto;
                            padding: 0;
                            cursor: pointer;
                            bottom: 5px;
                            padding: 3px;
                            border: none;
                            outline: none;
                            transition: all .5s;

                            &.btn-like {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: row;
                                column-gap: 2px;
                            }

                            &.btn-delete {

                                &:hover {
                                    i {
                                        color: limegreen;
                                        border: 2px solid limegreen;
                                        border-radius: 50%;
                                        padding: 5px;
                                    }
                                }
                            }

                            &.btn-reply {

                                &:hover {
                                    border-bottom: 4px solid cyan;
                                }
                            }
                        }
                    }
                }

                .reply-input {
                    input {
                        width: 60%;
                        height: 40px;
                        outline: rgb(140, 140, 243);
                        padding: 5px;
                    }

                    button {
                        background: #63a0fc;
                        border-radius: 20px;
                        min-width: 100px;
                        min-height: 40px;
                        width: max-content;
                        height: max-content;
                        margin-left: 5px;
                        border: 2px solid blue;

                        &:hover {
                            background: #142D55;
                            color: white;
                            transition: all .5s;
                        }
                    }
                }
            }
        }
    }
}





@media only screen and (max-width:600px) {
    .home {
        width: 100vw;
    }

    .post {
        min-width: 90vw;
    }
}









/*Create Post CSS*/
.create {
    width: calc(96vw);
    height: auto;
    display: grid;
    grid-template-areas: 'head head head'
        'caption caption details'
        'post post details'
        'post post links'
        'post post btn';
    grid-gap: 10px;
    overflow-y: hidden;
    padding-bottom: 20px;
}

.create>div {
    border: 2px solid rgb(156, 155, 155);
    color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 47vw;
}

.create h1 {
    grid-area: head;
}

.create .caption {
    grid-area: caption;
    background: var(--SpaceCadet);
    color: white;
    padding-left: 10px;
}

.create .caption textarea {
    resize: none;
    width: 90%;
    font-size: 15px;
    outline: none;
}

.create .post {
    height: max-content;
    padding: 10px 0px;
    grid-area: post;
    background: var(--SpaceCadet);
}

.create .post>div {
    border: 2px solid black;
    width: 45vw;
    background: white;
}

.create .post>div:first-child {
    height: max-content;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.create .post>div:first-child .display {

    &>img,
    video {
        background: black;
        width: 100%;
        height: max-content;
    }
}

.create .post>div:first-child .display::-webkit-scrollbar {
    display: none;
}

.create .post>div:first-child .display {
    width: 20vw;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.create .post>div:first-child .display img {
    width: 20vw;
    height: 40vh;
}

.create .post>div:first-child i {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: black;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 12px;
    border-radius: 50%;
}

.create .post>div:nth-child(2) {
    height: 100px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-left: 10px;
    overflow: hidden;
    overflow-x: scroll;
    padding-right: 10px;
}

.create .post>div:nth-child(2)::-webkit-scrollbar {
    display: none;
}

.create .post>div:nth-child(2) .media-control i:nth-child(2) {
    width: 10px;
    height: 10px;
    position: absolute;
    right: -6px;
    top: -15px;
    z-index: 1;
}

.create .post>div:nth-child(2) .media-control img,
video {
    object-fit: contain;
}

.create .post>div:nth-child(2) .media-control {
    border: 2px solid black;
}

.create .post>div:nth-child(2) .media-control:hover img {
    filter: blur(5px);
}

.create .post>div:nth-child(2) .media-control:hover video {
    filter: blur(5px);
}

.create .post>div:nth-child(2) .media-control:hover i:first-child {
    display: block;
}

.create .post>div:nth-child(2) .media-control i:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10px, -10px);
    z-index: 1;
    display: none;
}

.create .post>div:nth-child(2) .media-control i:nth-child(2):hover {
    cursor: pointer;
    color: cyan;
}

.create .post>div:nth-child(2) .media-control {
    position: relative;
}

.create .post>div:nth-child(2) label {
    border: 2px solid black;
    width: 50px;
    min-width: 50px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.create .post>div:nth-child(2) label i {
    font-size: x-large;

}

.create .details {
    grid-area: details;
    height: 250px;
    background: var(--SpaceCadet);
}

.create .details .tags-control {
    display: grid;
    justify-content: center;
    align-items: center;
    width: calc(40vw);
}

.create .details .tags-control div {
    display: grid;
    align-items: center;
    width: calc(39vw);
    height: calc(15vh);
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;
    justify-content: center;
    column-gap: 10px;
    background: white;
    border-radius: 20px 20px 0px 0px;
}

.create .details .tags-control div::-webkit-scrollbar {
    width: 5px;
}

.create .details .tags-control div>p {
    width: max-content;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.create .details .tags-control div>p p {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 50px;
    white-space: nowrap;
    font-size: 14px;
    color: rgb(128, 127, 127);
    padding: 2px;
}

.create .details .tags-control div>p p:hover {
    cursor: default;
    color: rgb(62, 61, 61);
}

.create .details .tags-control input {
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    border: 2px solid gray;
    font-size: 15px;
    outline: none;
}

.create .details .input-control {
    position: relative;
}

.create .details .input-control div {
    position: absolute;
    background: white;
    width: 32vw;
    border: 2px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    max-height: 180px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px 0px;
    border-radius: 10px 0px 0px 10px;
    z-index: 2;
    margin-left: 8px;
}

.create .details .input-control div::-webkit-scrollbar-thumb {
    background: var(--BlurBetty);

}

.create .details .input-control div::-webkit-scrollbar {
    width: 5px;
}

.create .details .input-control div p {
    padding: 10px;
    width: auto;
    text-align: center;
}

.create .details .input-control div p:hover {
    background: rgb(157, 155, 155);
}

.create .details .input-control input {
    padding: 10px;
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 10px;
    width: calc(80%);
    position: relative;
    left: 7px;
    outline: none;
}

.create .details .tags-control div>p i {
    border: 2px solid black;
    border-radius: 50%;
    padding: 2px;
    position: relative;
    left: -3px;
    width: 30px;
    height: 30px;
    display: grid;
    justify-content: center;
    align-items: center;

}

.create .details .tags-control div>p i:hover {
    border: 2px solid cyan;
    cursor: pointer;
}

.create .filters .tabs {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    column-gap: 10px;
}

.create .filters .tabs p {
    width: 16vw;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.create .filters .content {
    border: 2px solid black;
    width: 40vw;
    position: absolute;
    left: 10px;
    height: 244px;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;
    background: white;
}

.create .filters .content::-webkit-scrollbar {
    width: 7px;
}

.create .filters .content::-webkit-scrollbar-thumb {
    background-color: var(--BlurBetty);
}

.create .filters .content .adv-combination {
    display: grid;
    align-items: center;
    overflow: hidden;
    overflow-y: hidden;
    row-gap: 10px;
    padding: 20px;
}

.create .filters .content .basic-effects {
    display: grid;
    align-items: center;
    overflow: hidden;
    overflow-y: hidden;
    row-gap: 10px;
    padding: 20px;
}

.create .filters .content .basic-effects .range-control {
    width: calc(100%);
    position: relative;
}

.create .filters .content .basic-effects .range-control input {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: calc(90%);
}

.create .filters .content .basic-effects .range-control input::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgb(244, 63, 63), orange, yellow, rgb(72, 255, 0), rgb(6, 246, 6));
    height: 0.5rem;
}

.create .filters .content .basic-effects .range-control input::-moz-range-track {
    background: var(--BlurBetty);
    height: 0.5rem;
}

.create .filters .content .basic-effects .range-control input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: var(--Sapphire);
    height: 1rem;
    width: 1rem;
}

.create .filters .content .basic-effects .range-control input:focus::-webkit-slider-thumb {
    border: 1px solid black;
    outline: 3px solid black;
    outline-offset: 0.125rem;
}

.create .filters .content .basic-effects .range-control p {
    font-size: 18px;
}

.create .filters .content .basic-effects .range-control p:last-child {
    position: absolute;
    right: 0;
    top: 45%;
}

.create .filters {
    grid-area: links;
    position: relative;
    height: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
    background: var(--SpaceCadet);
}

.create .btn {
    grid-area: btn;
    height: 80px;
    grid-template-columns: auto auto;
    column-gap: 10vw;
}

.create .btn button {
    width: 15vw;
    height: 50px;
    font-size: 18px;
    border-radius: 30px;
}

.create .btn button:first-child {
    background: var(--BlurBetty);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.create .btn button:first-child div {
    position: absolute;
    right: 20px;
    bottom: 18px;
}

.create .btn button:last-child {
    background-color: var(--Diamond);
}

.create .btn button:hover {
    border: 2px solid black;

    outline: 2px solid black;
    outline-offset: 10px;
    transition: all 0.5s;
}

@media only screen and (max-width:785px) {
    .create {
        grid-template-areas: 'head head'
            'caption caption'
            'caption caption'
            'post post'
            'post post'
            'details details'
            'details details'
            'links links'
            'btn btn';
        width: calc(96vw);
        height: auto;
        display: grid;
        grid-gap: 10px;
        justify-content: center;
        overflow-y: hidden;
        padding-bottom: 20px;
    }

    .create .details .tags-control div {
        width: 80vw;
    }

    .create .post {
        width: 50vw;
    }

    .create .post>div {
        width: 85vw;
    }

    .create>div {
        width: 90vw;
    }

    .create .post>div:first-child label img {
        width: 200px;
        height: 200px;
    }

    .create .post>div:first-child .display {
        width: 100px;
        height: 100px;
    }

    .create .filters .content {
        border: 2px solid black;
        width: 80vw;
        position: absolute;
        left: 10px;
        height: 244px;
        bottom: 0;
        overflow: hidden;
        overflow-y: scroll;
        background: white;
    }

    .create .filters .tabs p {
        width: max-content;
        padding: 10px;
        border: 2px solid black;
        border-radius: 10px 10px 0 0;
        border-bottom: none;
    }

    .create .post>div:first-child .display img {
        width: 50vw;
        height: 40vh;
    }

    .create .post>div:first-child .display {
        width: 50vw;
        height: 40vh;
        display: grid;
        justify-content: center;
        align-items: center;
        overflow: auto;
        cursor: zoom-in;
    }

}

@media only screen and (max-width:376px) {
    .post {
        min-width: 100vw;
    }

    .create {
        grid-template-areas: 'head head'
            'caption caption'
            'caption caption'
            'post post'
            'post post'
            'details details'
            'details details'
            'links links'
            'btn btn';
    }

    .create>div {
        width: 30em;
    }
}

/*Explore Css*/
.explore {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    height: 100dvh;
    width: 100dvw;

    input{
        width: 100%;
        padding: 20px;
        font-size: 18px;
    }

    .search-items {
        display: grid;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding: 20px;

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 400px;
            border: 2px solid gray;
            border-radius: 10px;
            justify-content: space-between;
            padding: 10px;

            img{
                border-radius: 50%;
                border: 1px solid gray;
            }

            p{
                text-align: left;
                width: 50%;
                padding: 10px;
            }

            button{
                background: none;
                border: none;
                color:#4B92FF;
                font-size: 18px;
                font-weight: 600;
                i{
                    font-size: 20px;
                    -webkit-text-stroke: 2px;
                }
            }
        }
    }
}


.profile-root {
    display: flex;
    align-items: center;
    row-gap: 20px;
    height: 100dvh;
    width: 100dvw;
    flex-direction: column;

    .head {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: max-content;
        padding: 10px;


        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
            row-gap: 10px;

            .profile{
                width: 100% !important;
            }
            .details{
                width: 100% !important;
            }
        }


        .profile {
            display: flex;
            justify-content: center;
            width: 40%;
            align-items: center;
            column-gap: 10px;
            flex-direction: row-reverse;

            p {
                font-size: 18px;
            }

            img {
                border: 1px solid;
                border-radius: 50%;
            }
        }

        .details {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 60%;

            .details-item {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }

    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: max-content;

        .name {
            display: flex;
            font-size: 18px;
            white-space: nowrap;
            width: 100%;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .btn-grp {
            display: flex;

            button {
                background: none;
                border: none;
                font-size: 15px;
                font-weight: bold;
                color: var(--Sapphire);
                border-bottom: 2px solid;

                &:hover {
                    font-style: italic;
                    cursor: pointer;
                }
            }
        }
    }

    .foot {
        display: flex;
        justify-content: space-around;
        width: 60%;
        height: max-content;
        padding: 10px;
        margin: 10px;
        flex-direction: column;
        row-gap: 10px;

        @media (max-width:768px) {
            width: 100%;
        }

        .container {
            display: flex;
            justify-content: start;
            gap: 10px;
            width: 100%;
            flex-flow: row wrap;
            padding: 10px;


            .item {
                width: 200px;
                height: 200px;
                border: 2px solid gray;

                img,
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}